/* Define o fundo para o menu */
.root {
    -fx-background-image: url("/css/wpp.jpg");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-padding: 50px;
    -fx-alignment: top-right;
}

/* Alinhamento do GridPane à direita com margem */
.grid-pane {
    -fx-hgap: 10px;
    -fx-vgap: 10px;
    -fx-alignment: top-right;
    -fx-padding: 50px;
}

/* Estilo dos botões */
.button {
    -fx-background-color: #c03430; /* Cor de fundo preta */
    -fx-text-fill: white; /* Texto branco */
    -fx-font-size: 14px; /* Tamanho da fonte */
    -fx-padding: 10px 20px; /* Espaciamento interno */
    -fx-border-radius: 5px; /* Bordas arredondadas */
    -fx-cursor: hand; /* Cursor de mão */
}

/* Efeito de hover para os botões */
.button:hover {
    -fx-background-color: #151714; /* Cor de fundo um pouco mais clara quando o mouse passa */
}

/* Alinhamento dos botões */
.button {
    -fx-min-width: 200px;
}

/* Ajustando os botões para ficarem alinhados à direita */
.grid-pane .button {
    -fx-alignment: center-right;
}
